$gray: #e6e7eb !default;
$light_gray: #f8f8f8 !default;
$white: #ffffff !default;
$blue: #42485f !default;
$dark_blue: #004784 !default;
$border_color: #b1b3b4 !default;
$dark_gray: #494949 !default;
$darkest-gray: #2C2C2C;
$orange: #CF6421 !default;
$red: #904b4b;
$green: #5cc4c0;